*.txt.sb*
**/.DS_Store
**/*.swp
**/*.project
**/*.settings
**/*.classpath
**/*.pyc
**/.idea/

# Directories to ignore
/bin
**/project
**/target
**/refs

src/main/lib/graphx-extensions_2.10-1.0.jar
src/graphxext/project
src/graphxext/target
src/main/driverUtils/project
src/main/driverutils/target

# Always-ignore extensions
*.prefs
*.iml
*.log
