**/.DS_Store
**/*.swp
**/*.project
**/*.classpath
**/*.pyc
/bin
src/main/project
src/main/target
src/main/lib/graphx-extensions_2.10-1.0.jar
src/graphxext/project
src/graphxext/target
src/main/driverUtils/project
src/main/driverutils/target

*.prefs
