[query-1]
type = line
name = Query-1
xlabel = Number of Partitions
ylabel = Runtime (ms)
sql = select concat(e.graphType, "-", o.partitionS) as Strategies, if(o.numParts is null,zerovalue.runt,zerovalue.runt) as "0", avg(if(o.numParts=8,e.runTime/1000,NULL)) as "8", avg(if(o.numParts=16,e.runTime/1000,NULL)) as "16", avg(if(o.numParts=32,e.runTime/1000,NULL)) as "32" 
    from (select e.graphType, o.partitionS, avg(e.runTime/1000) as runt from operation o, execution e, time_per_op t where o.op_id=t.op_id and e.exec_id = t.exec_id and o.opType = "Select" and o.arg1="2000" and e.build_num=2 and o.partitionS is null group by e.graphType) as zerovalue, operation o, execution e, time_per_op t 
    where o.op_id=t.op_id and e.exec_id = t.exec_id and o.opType = "Select" and o.arg1=2000 and e.build_num=2 and o.partitionS is not null and zerovalue.graphType=e.graphType 
    group by o.partitionS, e.graphType 
    order by Strategies

[query-2]
type = line
name = Query-2
xlabel = Iteration #
ylabel = Runtime (ms)
sql = select concat(e.graphType, "-", o.partitionS) as Strategies, if(o.numParts is null,zerovalue.runt,zerovalue.runt) as "0", avg(if(o.numParts=8,e.runTime/1000,NULL)) as "8", avg(if(o.numParts=32,e.runTime/1000,NULL)) as "32" 
    from (select e.graphType, o.partitionS, avg(e.runTime/1000) as runt from operation o, execution e, time_per_op t where o.op_id=t.op_id and e.exec_id = t.exec_id and o.opType = "Select" and o.arg1="2000" and e.build_num=2 and o.partitionS is null group by e.graphType) as zerovalue, operation o, execution e, time_per_op t 
    where o.op_id=t.op_id and e.exec_id = t.exec_id and o.opType = "Select" and o.arg1=2000 and e.build_num=2 and o.partitionS is not null and zerovalue.graphType=e.graphType 
    group by o.partitionS, e.graphType 
    order by Strategies
