[configs]
main = edu.drexel.cs.dbgroup.graphxt.Driver
env = standalone
mesosConfig = --master mesos://master:5050 --conf spark.executor.uri=hdfs://master:9000/spark/spark-1.5.0-bin-hadoop2.6.tgz --executor-memory 6g --driver-memory 6g --conf spark.mesos.coarse=true target/scala-2.10/tgraph-assembly-1.0.jar
localConfig = --master local --jars lib/graphx-extensions_2.10-1.0.jar target/scala-2.10/temporal-graph-project_2.10-1.0.jar
ec2Config = --master spark://ec2-54-234-129-137.compute-1.amazonaws.com:7077 --jars lib/graphx-extensions_2.10-1.0.jar target/scala-2.10/temporal-graph-project_2.10-1.0.jar
standaloneConfig = --master spark://master:7077 --executor-memory 12g --driver-memory 12g --jars lib/graphx-extensions_2.10-1.0.jar target/scala-2.10/temporal-graph-project_2.10-1.0.jar 
clusterConfig = noCluster
buildNum = 13
warm = 0
iterations = 5
type = MG
data = hdfs://master:9000/data/nGrams
dataset = nGrams
strategy = None
numParts = 0

[test_queries]
Queries =
    Sel_50MB --select 1808-01-01 1809-01-01 --materialize
    Sel_100MB --select 1806-01-01 1808-01-01 --materialize
    Sel_250MB --select 1805-01-01 1810-01-01 --materialize
    Sel_500MB --select 1802-01-01 1812-01-01 --materialize
    Sel_1GB --select 1808-01-01 1824-01-01 --materialize
    Sel_2GB --select 1808-01-01 1834-01-01 --materialize
    Sel_5GB --select 1808-01-01 1856-01-01 --materialize
    Sel_10GB --select 1827-01-01 1890-01-01 --materialize
    Sel_20GB --select 1830-01-01 1938-01-01 --materialize
    Sel_30GB --select 1859-01-01 1997-01-01 --materialize



