[configs]
main = edu.drexel.cs.dbgroup.graphxt.Driver
env = mesos
mesosConfig = --master mesos://master:5050 --conf spark.executor.uri=hdfs://master:9000/spark/spark-1.3.1-bin-hadoop2.6.tgz --executor-memory 6g --driver-memory 6g --conf spark.mesos.coarse=true target/scala-2.10/tgraph-assembly-1.0.jar
localConfig = --master local --jars lib/graphx-extensions_2.10-1.0.jar target/scala-2.10/temporal-graph-project_2.10-1.0.jar
ec2Config = --master spark://ec2-54-234-129-137.compute-1.amazonaws.com:7077 --jars lib/graphx-extensions_2.10-1.0.jar target/scala-2.10/temporal-graph-project_2.10-1.0.jar
clusterConfig = noCluster
buildNum = 2 
warm = 0
iterations = 3 
type = SGP
data = hdfs://master:9000/data/dblp
dataset = dblp
strategy = None,CanonicalRandomVertexCut,EdgePartition2D,NaiveTemporal,ConsecutiveTemporal,HybridRandomTemporal,Hybrid2DTemporal
numParts = 8,16,32

[test_queries]
Queries =
    Sel_Small --select 2000 2015 -r --count
    Sel_Large --select 1970 2009 -r --count
    AggE80by20 --agg 20 existential -r --count
    AggU80by20 --agg 20 universal -r --count
    Snapshot --getsnapshot 2010 -r --count
