[configs]
main = edu.drexel.cs.dbgroup.graphxt.Driver
env = mesos
mesosConfig = --master mesos://master:5050 --conf spark.executor.uri=hdfs://master:9000/spark/spark-1.4.0-bin-hadoop2.6.tgz --executor-memory 6g --driver-memory 6g --conf spark.mesos.coarse=true target/scala-2.10/tgraph-assembly-1.0.jar
localConfig = --master local --jars lib/graphx-extensions_2.10-1.0.jar target/scala-2.10/temporal-graph-project_2.10-1.0.jar
ec2Config = --master spark://ec2-54-234-129-137.compute-1.amazonaws.com:7077 --jars lib/graphx-extensions_2.10-1.0.jar target/scala-2.10/temporal-graph-project_2.10-1.0.jar
clusterConfig = noCluster
buildNum = 5
warm = 0
iterations = 3 
type = SGP
data = hdfs://master:9000/data/nGrams
dataset = nGrams
strategy = None,CanonicalRandomVertexCut,EdgePartition2D,NaiveTemporal,ConsecutiveTemporal,HybridRandomTemporal,Hybrid2DTemporal
numParts = 0,64,256

[test_queries]
Queries =
    Sel_Small --select 1815-01-01 1830-01-01 -r --count
    Sel_Large --select 1820-01-01 1860-01-01 -r --count
    AggE489by50 --agg P50Y existential -r --count
    AggU489by50 --agg P50Y universal -r --count

