[query-1]
type = line
name = representations_overall
xlabel = Select size, Gbytes
ylabel = Runtime, seconds
sql = select F.gsize as "Data Size", avg(if(F.graphType="SGP", F.runTime/1000, NULL)) as "SnapshotGraph", avg(if(F.graphType="MG", F.runTime/1000, NULL)) as "MultiGraph" from (select e.graphType, e.runTime, s.gsize from execution e, datasize s, operation o, query_op_map q where e.build_num=5 and o.opType="Select" and o.op_id=q.op_id and q.query_id=e.query_id and e.dataset=s.dataset and o.arg1=s.startdate and o.arg2=s.enddate) as F group by F.gsize order by F.gsize;

[query-2]
type = line
name = strategies_overall
xlabel = Select size, Gbytes
ylabel = Runtime, seconds
sql = select F.gsize as "Data Size", avg(if(F.partitionS is null, F.runTime/1000, NULL)) as "No Partitioning", avg(if(F.partitionS="CanonicalRandomVertexCut", F.runTime/1000, NULL)) as "CRVC", avg(if(F.partitionS="EdgePartition2D", F.runTime/1000, NULL)) as "E2D", avg(if(F.partitionS="NaiveTemporal", F.runTime/1000, NULL)) as "Naive", avg(if(F.partitionS="ConsecutiveTemporal", F.runTime/1000, NULL)) as "Consecutive", avg(if(F.partitionS="HybridRandomTemporal", F.runTime/1000, NULL)) as "HRT", avg(if(F.partitionS="Hybrid2DTemporal", F.runTime/1000, NULL)) as "H2DT" from (select s.gsize, e.runTime, o.partitionS from execution e, datasize s, operation o, query_op_map q where e.build_num=5 and o.opType="Select" and o.op_id=q.op_id and q.query_id=e.query_id and e.dataset=s.dataset and o.arg1=s.startdate and o.arg2=s.enddate) as F group by F.gsize order by F.gsize;

[query-3]
type = line
name = partitions_overall
xlabel = Select size, Gbytes
ylabel = Runtime, seconds
sql = select F.gsize as "Data Size", avg(if(F.numParts=0, F.runTime/1000, NULL)) as "Original NumParts", avg(if(F.numParts=16, F.runTime/1000, NULL)) as "16", avg(if(F.numParts=32, F.runTime/1000, NULL)) as "32", avg(if(F.runTime=64, F.runTime/1000, NULL)) as "64", avg(if(F.runTime=256, F.runTime/1000, NULL)) as "256" from (select s.gsize, e.runTime, o.numParts from execution e, datasize s, operation o, query_op_map q where e.build_num=5 and o.opType="Select" and o.op_id=q.op_id and q.query_id=e.query_id and e.dataset=s.dataset and o.arg1=s.startdate and o.arg2=s.enddate) as F group by F.gsize order by F.gsize;
