body{
    font: 62.5% "Trebuchet MS", sans-serif;
    margin: 50px;
}
.demoHeaders {
    margin-top: 2em;
}
#header {
    background-color:#045FB4;
    color:white;
    text-align:center;
    padding:5px;
}
#views {
    line-height:30px;
    background-color:#eeeeee;
    height:400px;
    width:100px;
    float:left;
    padding:5px; 
}
#workspace {
    width:600px;
    height:400px;
    float:left;
    padding:10px; 
}
#schema {
    background-color:#eeeeee;
    float:right;
    padding:5px;
    border: 1px;
    height:400px;
    width:200px;
}
#tabs {
    clear:both;
    text-align:left;
    padding:5px; 
}
#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}
#dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}
#icons {
    margin: 0;
    padding: 0;
}
#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}
#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}
.fakewindowcontain .ui-widget-overlay {
    position: absolute;
}
select {
    width: 200px;
}
h2 {
    font-size:15px;
    text-decoration: underline;
}
td {
    padding: 5px 20px 5px 5px;
    text-align: left; 
    background-color:#A0C5E1;
    font-size:13px;
    border: 1px solid #4297d7;
    display: inline-block;
    color: black;
    font-weight: normal;
}
td.start {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
td.end {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;	
}
td.skip {
    text-align: center;
    padding: 5px;
}
td.notselected {
    background-color: rgba(160,197,225,0.2);
    border: 1px solid rgba(66,151,215,0.2);
}
td.timeborder {
    border: none;
    width: 1px;
    padding: 0px;
    background-color: transparent;
    margin: 0px;
}
td.tlinetitle {
    border: none;
    padding: 0px;
    background-color: white;
    color: #e17009;
    font-weight:bold;
    font-size:15px;
}
code {
    font-size:12px;
    font: "Courier New", Courier, monospace;
}
table {
    border-collapse: collapse;
}
div.join {
    content:url(images/TAnd.png);
    width:50px;
}
div.tgjoin {
    border: 1px solid #4297d7;
    display: inline-block;
    font-weight:bold;
    font-size:15px;
    color:  #e17009;
    width:420px;
    height:140px;
    border-radius:10px;
    text-align: center;
}
div.schema-caption {
    font-size:11px;
    font-weight:bold;
    display: inline-block;
}
div.attributes {
    display: block;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}
label {
    border-bottom: 1px solid #4297d7;
    display: block;
}
select.aggmenu {
    width: 90px;
    -webkit-appearance: none;
    -moz-appearance : none;
    padding:5px 3px;
}
.ui-icon, .ui-widget-content .ui-icon {background-image: none;}
