iterations 5
data ../../resources/set2
strategy CanonicalRandomVertexCut,EdgePartition2D,NaiveTemporal,ConsecutiveTemporal,HybridRandomTemporal,Hybrid2DTemporal
G1_small --select 2000 2009 --count
G1_large --select 1970 2009 --count
G2_U --agg 5 universal --count
G2_E --agg 5 existential --count
G3_U --agg 5 universal --agg 5 universal --count
G3_E --agg 5 existential --agg 5 existential --count
G4_U --agg 5 universal --pagerank 50 --count
G4_E --agg 5 existential --pagerank 50 --count
G5_U --select 1970 2009 --agg 5 universal --pagerank 50 --count
G5_E --select 1970 2009 --agg 5 existential --pagerank 50 --count