iterations 5
data ../../resources/set2
strategy CanonicalRandomVertexCut,EdgePartition2D,NaiveTemporal,NaiveTemporalEdge,ConsecutiveTemporal,ConsecutiveTemporalEdge,HybridRandomTemporal,HybridRandomEdgeTemporal,Hybrid2DTemporal,Hybrid2DEdgeTemporal
G1_small --select 2000 2009
G1_large --select 1970 2009
G2_U --agg 5 universal
G2_E --agg 5 existential
G3_U --agg 5 universal --agg 5 universal
G3_E --agg 5 existential --agg 5 existential
G4_U --agg 5 universal --pagerank
G4_E --agg 5 existential --pagerank
G5_U --select 1970 2009 --agg 5 universal --pagerank
G5_E --select 1970 2009 --agg 5 existential --pagerank