main edu.drexel.cs.dbgroup.graphxt.Driver
clusterConfig ip_8s_16g
buildNum 1 
warm 0
iterations 2 
type SG
data ../../resources
Count --count -p NaiveTemporal 8
Sel_Small --select 2000 2015 -p ConsecutiveTemporal 8 --count -p EdgePartition2D 8
Snapshot --getsnapshot 2000 --count
AggU16by2 --select 2000 2015 --agg 2 universal -p CanonicalRandomVertexCut 8 --count
