main edu.drexel.cs.dbgroup.graphxt.Driver
env local
clusterConfig 4s_2c_8g
buildNum 1 
warm 0
iterations 2 
type SG
data ../../resources
Sel_Small --select 2000 2015 -p ConsecutiveTemporal 8
Snapshot --getsnapshot 2000 --count
AggU16by2 --select 2000 2015 --agg 2 universal -p CanonicalRandomVertexCut 8 --count
AggE16by2 --select 2000 2015 --agg 2 existential -p CanonicalRandomVertexCut 8 --count
AggU16by4 --select 2000 2015 --agg 4 universal --count
