iterations 5
type SG
data ../../resources/set2
strategy CanonicalRandomVertexCut,EdgePartition2D,NaiveTemporal,ConsecutiveTemporal,HybridRandomTemporal,Hybrid2DTemporal
G0 --count
G1_small --select 2000 20015 --count
G1_large --select 1970 2009 --count
G2_U --agg 5 universal --count
G2_E --agg 5 existential --count
G3 --getsnapshot 2000 --count
G4_U --select 2000 2015 --agg 8 universal --count
G4_E --select 2000 2015 --agg 8 existential --count
G5_U --select 2000 2015 --agg 8 universal --pagerank 50 --count
G5_E --select 2000 2015 --agg 8 existential --pagerank 50 --count
