iterations 5
type SG
data ../../resources/set2
strategy CanonicalRandomVertexCut,EdgePartition2D,NaiveTemporal,ConsecutiveTemporal,HybridRandomTemporal,Hybrid2DTemporal
numParts 8,16,32
Count --count
Sel_Small --select 2000 2015 --count
Sel_Large --select 1970 2009 --count
AggE80by20 --agg 20 existential --count
Snapshot --getsnapshot 2000 --count
AggU16by2 --select 2000 2015 --agg 2 universal --count
AggE16by2 --select 2000 2015 --agg 2 existential --count
AggU16by4 --select 2000 2015 --agg 4 universal --count
AggE16by4 --select 2000 2015 --agg 4 existential --count
AggU16by8 --select 2000 2015 --agg 8 universal --count
AggE16by8 --select 2000 2015 --agg 8 existential --count
PrU16by8 --select 2000 2015 --agg 8 universal --pagerank 50 --count
PrE16by8 --select 2000 2015 --agg 8 existential --pagerank 50 --count
